.navbar-default {
	background-color: #fff;
	border-color: #fff;
}
.navbar.navbar-default {
	padding-top: 5px;
}

#footer {
    padding: 50px 0;
    color: #7f7f7f;
}
.social {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}

.social li a.social-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.social.social-circle a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.avatar {
  float: left;
  margin-right: 14px;
  margin-bottom: 4px;
}

.avatar.social {
  width: initial;
}

.skills__list {
    display: none;
}

@media only screen and (min-width: 768px){
  .skills__list li {
    font-size: 1.25rem;
  }
}


@media only screen and (min-width: 512px)
{
  .skills__list {
    display: block;
    margin-bottom: .5rem;
    font-size: 0;
    padding-left: 0;
  }

  .skills__list li {
    display: inline-block;
    vertical-align: middle;
    margin-left: .5em;
    font-size: 1.725rem;
  }

  .skills__list li:before{
    content: '\00B7';
    display: inline-block;
    margin-right: .5em;
  }

  .skills__list li:first-child {
    margin-left: 0;
  }
}


.logos {
    margin-bottom: 25px;
    float: left;
    width: 100%;
}


.logos .logo {
  margin-right: 1em;
  float: left;
}

.btn-download:after {
  content: "\2193";
  margin: 10px;
}


/**** bootstrap overrides *****/
.jumbotron-override {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 40px 10px;
    text-align: center;
}
/**** end: bootstrap overrides *****/
